<!--<div>-->
    <!--Testing Testing Testing-->
<!--</div>-->

<div class="mainBody" ng-show="$ctrl.selectedList">

    <button type="button" class="backButton" ng-click="$ctrl.removeSelectedList()">Back</button>
    <button type="button" class="editButton" value=" Show Hide button " ng-click="$ctrl.deleteTask(todo)">Edit</button>

    <div class="taskTitle">{{ $ctrl.selectedList.title }}</div>

    <div>
        <form name="frm" ng-submit="$ctrl.addTodo($ctrl.selectedList, $ctrl.todo)">
            <input name="$ctrl.todo" ng-model="$ctrl.todo"  type="text" class="taskInput" required />
        </form>

        <ul>
            <li ng-repeat="todo in $ctrl.selectedList.todos" class="listItems" ng-show="$ctrl.taskIsVisible">
                <div class="checkbox">
                    <input id="itemCheckbox" type="checkbox" ng-click="$ctrl.toggleDone(todo)" class="checkbox"/>
                    <label for="itemCheckbox"></label>
                </div>
                <div ng-class="{'done': todo.done}" class="check">{{ todo.todoTitle | capitalize }}</div>
                <button type="button" ng-show="$ctrl.isVisible" class="edit" ng-click="$ctrl.deleteMyTask(todo)">Delete</button>
            </li>
        </ul>

    </div>

    <div>{{}}</div>



</div>